<style>
.piechart {
    margin-top: 300px;
    display: block;
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: conic-gradient(
            pink 70deg,
            lightblue 0 235deg,
            orange 0);
}

body,
.piechart {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>